.confirmation-content {
  --background: none;
  background-image: url('../../assets/BG/BG1\ \(3\).jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

ion-card {
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 50px;
}

ion-card img {
  width: 100%;
  border-radius: 8px;
}

ion-card-title,
ion-card-subtitle {
  text-align: center;
  color: white;
}

ion-button {
  margin-top: 20px;
  --background: #000000;
  --background-hover: #0e0e0e;
}

.upi-section {
  margin-top: 20px;
  text-align: center;
}

.upi-qr {
  max-width: 150px;
  margin: 10px auto;
}

.upi-id,
.upi-amount {
  color: white;
  font-size: 16px;
  margin: 5px 0;
}

.wallet-section {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.wallet-section .error {
  color: red;
  font-weight: bold;
}
